@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url(styles/cards/cards_style.css);

@font-face {
  font-family: SquareCaps;
  src: url(fonts/SquareCaps.ttf);
}

@font-face {
  font-family: Barbarian;
  src: url(fonts/Barbarian.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.hero {
  background-image: url(images/Cartoon_Forest_BG_01.png);
  -o-object-fit: contain;
  object-fit: contain;
  animation-name: bg_animation;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  transition: all 60s;
}

h1 {
  font-family: "SquareCaps", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.animation {
  height: 192px;
  width: 192px;
  background: url(images/warrior_idle.png);
  animation-name: sprite;
  animation-duration: 1.5s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
}

.wizard {
  height: 192px;
  width: 192px;
  background: url(images/wizard.png);
  animation-name: wizard_animation;
  animation-duration: 1.5s;
  animation-timing-function: steps(8);
  animation-iteration-count: infinite;
}

.technologies p {
  font-family: "MedievalSharp", cursive;
}

#effect {
  height: 92px;
  width: 92px;
  transform: translate(-50%, -50%);
  background: url(images/effect.png);
  animation-name: effect_animation;
  animation-duration: 1.5s;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

p {
  font-family: "MedievalSharp", cursive;
}

@keyframes sprite {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1152px;
  }
}

@keyframes effect_animation {
  from {
    background-position: 0px;
  }

  to {
    background-position: -920px;
  }
}

@keyframes bg_animation {
  0% {
    background-position: 0px;
  }

  to {
    background-position: -1920px;
  }
}

@keyframes wizard_animation {
  0% {
    background-position: 0px;
  }

  to {
    background-position: -1536px;
  }
}

.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  background-color: #a5e0fe;
}

.aboutMe {
  height: 48.2rem;
  background: url(images/clouds1000.png);
  background: url(images/clouds1000.png) 0 100px, url(images/clouds1200_1.png) 0 200px, url(images/clouds1200_1.png) 100px 150px;
  animation: wind 20s linear infinite;
}

@keyframes wind {
  0% {
    background-position: 0 100px, 0 200px, 100px 150px;
  }

  100% {
    background-position: 1000px 100px, 1200px 200px, 1100px 150px;
  }
}

.experience {
  position: relative;
  z-index: 0;
}

.bird-1 {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: -1;
  animation: bird-1 20s linear infinite;
}

.bird-2 {
  position: absolute;
  bottom: 3rem;
  left: 30rem;
  z-index: -1;
  animation: bird-2 35s linear infinite;
}

@keyframes bird-1 {
  0% {
    transform: translate(1800px);
  }

  100% {
    transform: translate(-1000px);
  }
}

@keyframes bird-2 {
  0% {
    transform: translate(-1800px) scaleX(-1);
  }

  100% {
    transform: translate(1800px) scaleX(-1);
  }
}

.test {
  background: rgb(76, 140, 101);
  background: linear-gradient(180deg, rgba(50,34,24,1) 20%, rgba(0, 0, 0, 1) 68%);
}